{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tedious Tasks</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
      integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <h1>Tedious Tasks</h1>
    {% if task_list|length == 0 %}
    <h3>No Tasks Exist</h3>

    {% else %}
    <table class="pure-table">
      <thead>
        <tr>
          <th>Description</th>
          <th>Time</th>
          <th>Person</th>
          <th>Delete</th>
        </tr>
      </thead>
      {% for task in task_list %}
      <tr>
        <td>{{task.description}}</td>
        <td>{{task.time}}</td>
        <td>{{task.person}}</td>
        <td><a href="{% url 'delete_task' task.id %}">X</a></td>
        {% endfor %}
      </tr>

      <tr>
        <th>Total Time</th>
        <th>{{total.time__sum}}</th>
        <th></th>
        <th></th>
      </tr>
    </table>
    {% endif %}

    <hr />

    <h4>Add Task</h4>
    <form action="{% url 'add_task' %}" method="post">
      {% csrf_token %} {{ task_form.as_p }}
      <input type="submit" class="btn" value="Add Task" />
    </form>
  </body>
</html>
